/public
/node_modules/
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Evitar que Dependabot/NPM audit escanee manifests dentro de librerías vendorizadas en public/
/public/libs/**/package-lock.json
/public/libs/**/package.json
/public/libs/**/node_modules/
