.border1{ border: 1px solid #f00; }
.border2{ border: 1px solid #0f0; }
.border3{ border: 1px solid #00f; }

:root{
  --textTitleCol: #3490dc;
}

.go-publications{ background: #eeedfc; }

/* **************************  */
/* ***** START - HEADER *****  */
/* **************************  */

.menu-desktop{
  font-size: 24px;
  font-weight: 600;
}

.menu-desktop li{ display: inline-block; }

.menu-movil {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  font-size: 22px;
  font-weight: 600;
  left: -250px;
  padding: 20px 30px ;
  position: fixed;
  top: 0;
  transition: left 0.3s ease-in-out;
  width: 250px;
  z-index: 999;
}

.menu-movil ul, .menu-desktop ul{ list-style: none; margin: 0; padding: 0; }
.menu-movil li{ margin-bottom: 9px; }
.menu-movil a, .menu-desktop a{ color: #fff; }
.menu-movil.visible { left: 0; }

#publications-layout-header{
  background-image: url('../img/site/header-01.png');
  background-position: center;
  background-size: cover;
  display: flex;
  /*flex-direction: row;*/
  height: 450px;
  position: relative;
}

/*.publications-layout-header-left, 
.publications-layout-header-right{
  height: 450px;
}*/

.publications-layout-header-left{
  align-items: center;
  display: flex;
  height: 450px;
}  

.publications-layout-header-left img{  }
#publications-header-landscape{ display: inline; margin: auto; width: 80%; }
#publications-header-portrait{ display: none; margin: 0 auto; width: 80%; }


#publications-layout-header .buttons-box{
  padding: 30px 30px 0 0;
  position: absolute;
  text-align: end;
  left: 0px;
  top: 0px;
  width: 100%;
}

#publications-layout-header .buttons-box .btn-transparent{
  font-size: 18px;
  margin-right: 5px;
}

#publications-layout-header #btn-menu-movil{
  display: none;
  font-size: 26px;
  margin: 10px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 999;
}

.header-line-1{ background: #000; padding: 10px; text-align: center; }
.header-line-1 .menu-desktop{ margin: auto; }
.header-line-1 .menu-desktop a:hover{ text-decoration: underline; } 

/* ************************  */
/* ***** END - HEADER *****  */
/* ************************  */

.goPublications{
  background: #fff;
}

/* *********************************************  */
/* ***** START - LISTADO DE PUBLICACIONES ******  */
/* *********************************************  */

#publications{
  background: #fff;
  margin: 0 20%;
  padding: 30px;
}

#publications .container{
  display: flex;
  align-items: center;
  padding: 10px;
}

.pub-item{
  background: #fff;
  border: 1px solid #d8d6ff;
  box-shadow: 1px 1px 15px #ccc;
  /*margin: 30px;*/
}

.imagen-fondo{
  width: 500px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.contenido{
  margin-left: 10px;
}

.titulo{
  margin-top: 5px;
  margin-bottom: 2px;
}

.titulo a:hover{
  text-decoration: none;
}

.autor-date{
  color: #777;
  font-size: 12px;
}

.synopsis{
  font-size: 18px;
  padding: 15px 0;
}

.interactions{
  align-items: center;
  border-top: 1px solid #ccc;
  display: flex;
  font-size: 14px;
  justify-content: end;
  padding-top: 15px;
}

.interactions span{
  margin-right: 10px;
}

.paginate{ text-align: center; }
.paginate svg{ height: 15px; width: 15px; }

/* *******************************************  */
/* ***** END - LISTADO DE PUBLICACIONES ******  */
/* *******************************************  */

/* ********************************  */
/* ***** START - PUBLICACION ******  */
/* ********************************  */

#publication .section{
  background: #353367;
  border-radius: 15px;
  margin: 50px auto;
  padding: 20px 30px;
}

#publication .section h2{ color: #fff; text-align:center; }

#publication{
  background: #fff;
  margin: 0 20%;
  padding: 50px 30px;
}

#publication .pub-imageCont{ text-align:center; }
#publication .pub-imageCont img{
  padding: 20px;
  width: 70%;
}

#publication #synopsis{
  background: #eeedfc;
  border-left: 5px solid #353367;
  color: #666;
  font-size: 24px;
  font-style: italic;
  padding: 10px 20px;
}

#publication #description{ font-size: 20px; padding: 20px 0 }
#publication #mapCont{ color: #fff; font-weight: 600; }

#publication #map{ 
  height: 400px;
  margin-bottom: 15px;
  width: 100%; 
}

#gallery .splide__slide img{ height: 400px; }

#publication #socialmedia .btn{ font-size: unset; }
#publication #socialmedia .btn-purple{ font-size: unset; }

#publication #socialmedia{ 
  background: #fff; 
  font-size: 28px;
  padding: 30px 10px;
  text-align: center;
}

#publication #socialmedia .btn{ 
  margin-bottom: 10px;
  margin-right: 5px;
}

#publication #socialmedia .btn-purple:hover{
  box-shadow: 3px 3px 8px #666;
}

/* ******************************  */
/* ***** END - PUBLICACION ******  */
/* ******************************  */

/* **********************************  */
/* ***** START - QUIENES SOMOS ******  */
/* **********************************  */

.quienesSomos{ font-size: 20px; }

.quienesSomos section{
  background: #fff;
  border: 2px dashed #000;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #ccc;
  margin-bottom: 50px;
  padding: 30px 20px;
}

.quienesSomos section h1{
  color: var(--textTitleCol);
}

/* ********************************  */
/* ***** END - QUIENES SOMOS ******  */
/* ********************************  */

.home{ font-size: 20px; }
.home h1{ color: var(--textTitleCol); font-size: 80px; font-weight: 600; }
.home h2{ font-size: 50px; font-weight: 600; }
.home img{ width: 100%; }
.home hr{ width: 100%; }
.home p{
  background: #fff;
  font-size: 24px;
  padding: 20px 20px;
}
.home #btnGo{ margin-top: 30px; text-align: center; }
.home #btnGo a{ font-size: 20px !important; }
.home #btnGo a:hover{ text-decoration: underline; }



/* Dispositivos extra pequeños (teléfonos pequeños, 600px o menos) */
@media only screen and (max-width: 600px) {
  /*header{ border: 1px solid #f00;  }*/

  .home{ background: #fff !important; font-size: 18px; }
  .home h1{ font-size: 50px; text-align: center; }
  .home h2{ font-size: 30px; text-align: center; }
  .home #imgCont{ text-align: center; }
  .home img{ margin: auto; width: 30%; }
  .home p{ font-size: 22px; }
  .home #btnGo{ margin-top: 0px; }
  #publications-layout-header .buttons-box{ padding: 30px 0 0 0; text-align: center; }
  .go-publications .col-12{ padding: 5px; }
  #publications-layout-header{ height: 300px; }
  .publications-layout-header-left{ height: 300px; margin: 0px 10px; }
  #publications-header-landscape{ display: none; }
  #publications-header-portrait{ display: inline; }
  #publications-layout-header .buttons-box{ display: none; }
  #publications-layout-header #btn-menu-movil{ display: inline; }
  #publications{ background: unset; margin: 0px; padding: 0px; }
  .pub-item{ margin: 0px }
  #publications .container{ display: block; margin-bottom: 30px; padding: 0px; }
  .contenido{ margin: 20px 0px; }

  #publication{ padding: 0px; margin: 20px 0px; }
  #publication h2{ padding: 10px 5px; }
  #publication .pub-imageCont img{ padding: 30px 5px; width: 100%; }
  #publication #synopsis{ font-size: 20px; }
  #publication #description{ padding: 20px 10px; }
  #gallery{ margin: 30px 0px; padding: 10px; }
}

/* Dispositivos pequeños (teléfonos, 600px y más) */
@media only screen and (min-width: 600px) {
  /*header{ border: 1px solid #0f0;  }*/
}

/* Dispositivos medianos (tabletas verticales y horizontales, 768px y más) */
@media only screen and (min-width: 768px) {
  /*header{ border: 1px solid #00f;  }*/
}

/* Dispositivos grandes (escritorios y laptops, 992px y más) */
@media only screen and (min-width: 992px) {
  /*header{ border: 1px solid #ff0;  }*/
}

/* Dispositivos extra grandes (escritorios grandes, 1200px y más) */
@media only screen and (min-width: 1200px) {
  /*header{ border: 1px solid #0ff;  }*/
}