.border-1{ border: 2px solid #f00; }
.border-2{ border: 1px solid #0f0; }
.border-3{ border: 1px solid #00f; }

.error{
  color: #f00;
}

.parsley-errors-list{
  color: #f00;
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-header{
  background-color: #4147A6 !important;
  color: #fff;
}

.modal-header .close{
  color: #fff;
  font-size: 2rem;
}

.modal-content-gray{
  background-color: #393939 !important;
  border: 2px solid #fff;
  border-radius: 20px; 
  color: #fff;
  font-weight: bold;
}

.modal-all{ max-width: 90% !important }
.row{
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.btn{
  border: 1px solid #fff !important;
}

.btn-black{
  background-color: #2f2f2f !important;
  border-color: #fff !important;
  color: #fff !important;
  font-weight: bold !important;
}

.btn-line{
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: #aaa !important;
  color: #fff !important;
  font-weight: bold !important;
}

.btn-purple{
  background-color: #353367 !important;
  border-color: #aaa !important;
  color: #fff !important;
  font-weight: bold !important;
}

.card-header{
  background-color: #353367 !important;
  color: #fff;
  font-weight: bold;
}
.card-body{ background: #97dff9 !important; }

.card-transparent{
  border: 1px solid #fff;
  color: #fff !important;
  font-weight: bold;
}
.card-transparent .card-header{
  background-color: #353367 !important;
}
.card-transparent .card-body{ background: rgba(255, 255, 255, 0) !important; }



#help-modal .modal-dialog{ margin: 5% auto !important; text-align: center; }
#help-modal img{ width: 100%; }
#help-modal .close-modal{
  margin-top: 3%;
}


/* ***************** */
/* INICIO - cabecera */
/* ***************** */
header{
  background: #353367;
  color: #fff;
  font-weight: bold;
}
.header-cont{ padding-top: 25px; padding-bottom: 20px; }
.header-txt{ font-weight: bold; letter-spacing: 5px; }
.btn-back{ display: inline-block; margin-right: 40px; width: 35%; }
.btn-back img{ width: 100%; }
.btn-help{ display: inline-block; margin-left: 20px; width: 25%; }
.btn-help img{ width: 100%; }
.btn-help-movil, .btn-back-movil{ display: none; margin-left: 20px; width: 25%; }
.btn-help-movil img, .btn-back-movil img{ width: 100%; }
.btn-cont{ text-align: right; }
.btn-cont a{ margin-right: 10px; }
.header-line-1{ background: #fff; height: 30px; }
.header-line-2{ background: #0071c0; height: 20px;
}
/*  FIN - cabecera */

/* *********************** */
/*  INICIO - Pie de página */
/* *********************** */
footer{ background: #24254c; color: #fff; }
.header-line-1{ background: #fff; height: 30px; }
.footer-txt{ padding: 10px; }
/*  FIN - Pie de página */

/* ******************************** */
/* INICIO - contenedor de contenido */
/* ******************************** */
.go-wallpaper{
  padding-right: 0 !important;
  padding-left: 0 !important;

background: #00ace5;
background: -moz-linear-gradient(top,  #00ace5 0%, #522d96 100%);
background: -webkit-linear-gradient(top,  #00ace5 0%,#522d96 100%);
background: linear-gradient(to bottom,  #00ace5 0%,#522d96 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ace5', endColorstr='#522d96',GradientType=0 );
}

.logo-lateral{
  align-items: center;
  display: flex;
  justify-content: center;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.logo-lateral-img{ width: 100%; }
.logo-banner-img{ display: none; }
.sections{ padding-top: 2%; }
/* FIN - contenedor de contenido */

#carousel-sections{ margin: auto; width: 60%; }
.ads-list{
  margin: 0;
  padding: 0;

  overflow-x: auto;
  white-space: nowrap;
}

.ads-list li{
  display: inline-block;
  margin: 0 15px 0 0;
  padding: 0;
  width: 20%;

  float: none;
}

.ads-list img{ width: 100%; }

#ads-modal .modal-dialog{ margin: 5% auto !important; text-align: center; }
#ads-modal .close-modal{ margin-top: 3%; }
/*.ads{ margin: 2% 0; }*/
#ads-img{ width: 100%; }
/*#carousel-ads{ margin: auto; width: 70%; }*/

/* ************** */
/* INICIO - Login */
/* ************** */
.login-cont{ font-size: 16px; margin-top: 30%; }


/* FIN - Login */

/* ***************** */
/* INICIO - Registro */
/* ***************** */
.register{ margin: 20% 0; }
/* FIN - Registro */

/* ************************************ */
/* INICIO - listado de establecimientos */
/* ************************************ */
.filters-btns-cont div, 
.filters-btns-cont .btn{ display: inline; }
#filters{ display: none; }
.stabs-filters div{ margin-bottom: 0px; }
.around{ width: 100%; }

.stablish-cont{
  height: 650px;
  padding: 0 10px;
  overflow-y: scroll;
}

.stablish-table{
  width: 100%;
}

.stablish-logo{
  background: #fff;
  text-align: center;
  width: 15%;
}

.stablish-logo img{ width: 100%; }
.stablish-logo-2{ display: none; }
.stablish-visit-2{ display: none; }
.stablish-visit{
  background: #353367;
  text-align: center;
  width: 10%;
}
.stablish-visit .btn-purple{ border: 0px !important; font-size: 20px; }
.stablish-visit-2 .btn-purple{ border: 0px !important; font-size: 20px; }

.stablish-desc{
  background: #2f2f2f;
  color: #fff;
  padding: 10px;
  text-align: left;
}

.stablish-offer{
  background: #2f2f2f;
  text-align: center;
  width: 10%;
}

.stablish-offer img{ width: 100%; }
.stablish-space{ width: 2%; }

.stablish-add-space, .stablish-del-space{ background: #353367; padding: 10px; width: 10%; }
.stablish-add-space .stablish-add, .stablish-del-space .stablish-del{ text-align: center; width: 100%; }
.stablish-add img, .stablish-del img{ width: 100%; }
.stablish-row{ height: 20px; }

.stablish-footer{ display: none; padding: 10px; }

/* ************************************************* */
/* INICIO - Mi espacio (listado de establecimientos) */
/* ************************************************* */
.mySpace-stablish-cont{ text-align: center; margin: 0 5%; width: 20%; }
.mySpace-stablish-body{ background: #2f2f2f; padding: 20px; }
.mySpace-stablish-body-img{ background: #fff; border-radius: 5px; padding: 10px; }
.mySpace-stablish-body-img img{ width: 100%; }
.mySpace-stablish-footer{ 
  background: #353367; 
  border-radius: 0 0 20px 20px; 
  padding: 10px;
}
.mySpace-stablish-footer img{ width: 30%; }

#buttons-seccions a{ text-decoration: none; }
.btnTable{ cursor: pointer; width: 100%; }

.btnTable img{
  -webkit-transition:all .9s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */
  width:100%;
}

.btnTable h5{ font-size: 15px; }

.btnTable:hover img{
  opacity: 0.3;
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
}

.btnTableImgCont{ background: rgba(0, 0, 0, 1); overflow:hidden; }
#prev-logotipo{ height: 90px; width: 100%; }


/* ******************************** */
/* INICIO - Detalle establecimiento */
/* ******************************** */

.stablish-summary{ width: 100%; }
.stablish-summary img{ width: 100%; }
.menuCont{
  background: #333;
  border-radius: 20px;
}

.menuCont ul{
  font-size: 12px;
  padding-left: 0px;
}

.menuProd{ display: inline-block; width: 45%; }
.menuProdDesc{ display: inline-block; text-align: right; width: 45%; }

.btns-social{ margin: 2% 0; padding: 0; }

.btns-social li{
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  width: 40px;
}
.btns-social li img{ width: 100%; }

.modal-content-gray .modal-title{ color: #0FF; }
.modal-content-gray .modal-body{ color: #fff; }

.job-title{ color: #0FF; }
.jon-content{ color: #fff; }

.modal-title{ color: #fff; }
.modal-body{ color: #000; }

.job-title, .modal-title{
  font-weight: bold;
  font-size: 23px;
}

.jon-content, .modal-body{
  font-weight: bold;
  font-size: 19px;
}
/*#jobs-modal .modal-dialog, #ads-modal .modal-dialog
  { margin: 5% auto !important; text-align: center; }
#jobs-modal .close-modal, #ads-modal .close-modal
  { margin-top: 3%; }
.jobs, .ads{ margin: 2% 0; }*/

/* ************* */
/* INICIO - Mapa */
/* ************* */
.map-around-cont{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
.map-around{
  width: 50%
}
/* cambiar estilos input=range */
/* https://www.cssportal.com/style-input-range/ */
.btn-return-extra{
  bottom: 2%;
  display: none;
  left: 35%;
  position: fixed;
  z-index: 1050;
}
#go-mapa{ height: 710px; margin: 10% 0; width: 100%; }






/* *************************************** */
/* ************* MEDIA QUERIES *************/
/* *************************************** */

/* 
  ##Device = Desktops
  ##Screen = 1560px to higher resolution desktops
*/

@media (min-width: 1560px) {
  /* INICIO - header */
  .btn-back{ margin-right: 5%; width: 20%; }
  .btn-help{ margin-left: 5%; width: 16%; }
  .header-txt{ letter-spacing: 8px; }
  .btn-cont .btn-black{ letter-spacing: 2px; }
  /* INICIO - Login */
  .login-cont{ font-size: 18px; }
  .card-body{ padding: 3rem; }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-width: 1559px) {
  /* body{ border: 3px solid  #fff; } */

  /* INICIO - header */
  .btn-back{ margin-right: 5%; width: 30%; }
  .btn-help{ margin-left: 5%; width: 22%; }
  .btn-cont .btn-black{ letter-spacing: 2px; }
  /* INICIO - listado de establecimientos */
  .stablish-cont{ height: 550px; }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* body{ border: 3px solid  #f00; } */

  /* INICIO - header */
  .btn-back{ margin-right: 7%; }
  .btn-help{ margin-left: 7%; }
  .header-txt{ font-size: 1.8rem; }
  /* INICIO - Login */
  .login-cont{ font-size: 16px; margin-top: 20%; }
  /* INICIO - listado de establecimientos */
  .stablish-cont{ height: 450px; }
  /* INICIO - Mi espacio (listado de establecimientos) */
  .mySpace-stablish-cont{ margin: 0 5%; width: 35%; }
  /* INICIO - mapa */
  #go-mapa{ height: 600px; width: 100%; }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* body{ border: 3px solid  #0f0; } */

  /* INICIO - header */
  .btn-back{ margin-right: 5%; width: 40%; }
  .btn-help{ margin-left: 5%; width: 30%; }
  .header-txt{ font-size: 1.3rem; }
  .btn-cont .btn-black{ font-weight: normal !important; padding: 0.2rem 0.75rem !important; }
  /* INICIO - Login */
  .login-cont{ margin-top: 15%; }
  /* INICIO - Mi espacio (listado de establecimientos) */
  .mySpace-stablish-cont{ margin: 0 7%; width: 35%; }
  /* INICIO - mapa */
  #go-mapa{ height: 600px; width: 100%; }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* body{ border: 3px solid  #00f; } */

  /* INICIO - Login */
  .login-cont{ margin-top: 15%; }
  /* INICIO - listado de establecimientos */
  .stablish-cont{ height: 330px; }
  /* INICIO - Detalle establecimiento */
  .btns-social{ margin: 2% 0;}
  /* INICIO - Mi espacio (listado de establecimientos) */
  .mySpace-stablish-cont{ width: 35%; }
  /* INICIO - mapa */
  #go-mapa{ height: 600px; width: 100%; }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* body{ border: 3px solid  #ff0; } */
  
  /* INICIO - header */
  .btn-back, .btn-help, .header-txt{ display: none; }
  .btn-cont{ text-align: center; }
  .btn-cont .btn-black{ font-weight: normal !important; padding: 0.2rem 0.5rem !important; }
  .btn-help-movil, .btn-back-movil{ margin-left: 0%; margin-right: 48%; width: 35px; }
  .header-line-1, .header-line-2{ display: none !important; }

  .logo-lateral-img{ display: none; }
  .logo-banner-img{ display: block; margin-top: 3%; width: 100%; }
  /* INICIO - Login */
  .login-cont{ margin: 20% 0%; }
  /* INICIO - Secciones */
  #carousel-sections{ width: 80%; }
  .btn-line{ font-size: 15px !important; font-weight: normal !important; margin-top: 10px; padding: 2px 10px !important; }
  #carousel-sections{ margin-top: -5px; }
  /* INICIO - listado de establecimientos */
  .stablish-cont{ height: 600px; }
  .stabs-filters div{ margin-bottom: 20px; }
  /* INICIO - Detalle establecimiento */
  .stablish-summary{ margin: 10% 0 1% 0; }
  /* INICIO - Mi espacio (listado de establecimientos) */
  .mySpace-stablish-cont{ margin: 0 7%; width: 35%; }
  .btns-social{ margin: 2% 0;}
  /* INICIO - mapa */
  #go-mapa{ height: 700px; width: 100%; }
  /* INICIO - footer */
  footer{ font-size: 13px; margin: 5% 0; text-align: center; }
  .footer-warning, .footer-contac{ margin: 5px; }
  .footer-br{ display: none; }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* body{ border: 3px solid  #0ff; } */

  #help-modal .modal-dialog{ margin: 10% !important; }
  /* INICIO - header */
  .btn-back, .btn-help, .header-txt{ display: none; }
  .btn-cont{ text-align: center; }
  .btn-cont .btn-black{ font-weight: normal !important; padding: 0.1rem 0.6rem !important; }
  .btn-help-movil, .btn-back-movil{ margin-left: 0; margin-right: 20%; width: 30px; }
  .header-line-1, .header-line-2{ display: none !important; }

  .logo-lateral-img{ display: none; }
  .logo-banner-img{ display: block; margin-top: 3%; width: 100%; }
  /* INICIO - Login */
  .login-cont{ margin: 20% 0%; }
  /* INICIO - Secciones */
  #carousel-sections{ width: 80%; }
  .btn-line{ font-size: 13px !important; font-weight: normal !important; margin-top: 10px; padding: 2px 10px !important; }
  #carousel-sections{ margin-top: -5px; }
  /* INICIO - listado de establecimientos */
  .stablish-cont{ height: 450px; }
  .stabs-filters div{ margin-bottom: 10px; }
  .stablish-logo{ display: none; }
  .stablish-logo-2{ background: #fff; border-radius: 10px; display: inline; float: left; margin: 10px; width: 40%; }
  .stablish-visit-2{ background: #353367; border-radius: 10px; display: inline; float: left; margin: 6px; padding: 6% 0; width: 40%; }
  .stablish-visit{ display: none; }
  .stablish-offer{  display: none; }
  .stablish-footer{ background: #353367; border-radius: 0 0 20px 20px; display: grid; }
  .stablish-add-space, .stablish-del-space{ display: none; }
  .stablish-footer .stablish-add, .stablish-footer .stablish-del{ width: 20%; }
  /* INICIO - Detalle establecimiento */
  .stablish-summary{ margin: 10% 0; }
  /* INICIO - Mi espacio (listado de establecimientos) */
  .mySpace-stablish-cont{ margin-right: 1%; width: 40%; }
  /* INICIO - mapa */
  .btn-return-extra{ display: inline-block; }
  #go-mapa{ height: 500px; width: 100%; }
  /* INICIO - footer */
  footer{ font-size: 10px; padding: 5% 0; text-align: center; }
  .footer-warning, .footer-contac{ margin: 0px; }
  .footer-br{ display: none; }
}