
body{
  background: linear-gradient(to bottom,  #742e91 0%,#ff2480 100%);
  background-image: url('../img/site/video/background-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.btn-kukury{
  background: #EA1C6A;
  border: 2px solid #B90C5D;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 3px 8px;
  text-align: center;
}

.row{ margin: 0; }
.container-fluid{ margin: 0; padding: 0; }
.line01{ background: #b90c5d; border: 5px solid #EA1C6A; padding: 10px; }

.line01 #topicHeader{ color: #ffdfef; font-size: 20px; font-weight: bold; text-align: left; }
#buttonsRedesCont{ margin: 0; padding: 0; text-align: center; }
#buttonsRedesCont li{ display: inline-block; margin: 0 10px; padding: 0; }
#buttonsRedesCont img{ width: 30px; }

#usersNoCont{
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
  color: #f6f;
  display: inline-block;
  font-size: 16px;
  margin: 15px 5px;
  padding: 5px 10px;
}

#gamesCont{ display: flex; }
#gamesCont #buttonsStartGamesCont, #gamesCont #buttonStartVideoCont{ margin: auto; }
#gamesCont #buttonsGamesCont{ align-content: center; display: none; margin: auto; }
#buttonsGamesCont div{ display: inline-block; font-size: 12px; }
#verdadRetoCont, #ruletaCont{ 
  border: 1px solid #ffdfef;
  border-radius: 10px;
  display: none; 
  padding: 5px;
  position: relative; 
  width: 100%;
}
#verdadRetoCont #verdadRuleta, #verdadRetoCont #verdadFlecha{ display: inline-block; width: 48%; }
#verdadRetoCont img{ width: 100%; }
#verdadRetoCont .girar{ transition: transform 2s linear infinite; transform: rotate(0deg); }
#ruletaCont ul, #ruletaCont li{ margin: 0; padding: 0; text-align: center; }
#ruletaCont li{ display: none; list-style-type: none; }
#ruletaCont img{ width: 70px; }
.gameClose{ 
  color: #ffdfef; 
  cursor: pointer;
  display: inline-block; 
  font-size: 20px; 
  position: absolute; 
  top: -10px;
  right: -2px;
}

#logoCont{ text-align: end; }

#logoCont img{
  max-width: 70px;
  width: 80%;
}

#buttonsCont{ text-align: center; }
#roomId.viewer{ display: none; }

#roomId, #nick, #topic{
  border: 2px solid #ff34c0;
  border-radius: 10px;
  margin: 0;
  background: #ffdfef;
  color: #ff34c0;
  font-weight: bold;
  font-size: 18px;
  padding: 0 10px;
  width: 200px;
}

#roomId::placeholder, #nick::placeholder, #topic::placeholder{
  color: #ff90dd;
  opacity: 1; 
}

#roomId, #nick, #topic{ display: none; }

#startButton, #joinButton, #nickButton, #topicButton{
  background: #EA1C6A;
  border: 2px solid #B90C5D;
  border-radius: 10px;
  color: #fff;
  display: none;
  font-weight: bold;
  font-size: 18px;
}

#buttonsCont .loading{
  color: #fff;
  display: none;
  font-weight: bold;
  font-size: 22px;
}

#kukurygirl, #broadcaster{ position: relative; }

#kukurygirl .buttonsVideoCont, #broadcaster .buttonsVideoCont{ 
  bottom: 0px;
  font-size: 16px;
  position: absolute; 
  text-align: center;
  width: 100%;
}

#kukurygirl .btn-video, #broadcaster .btn-video{ 
  background: #EA1C6A;
  border: 2px solid #B90C5D;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  padding: 2px 5px;
  margin: 0 5px;
  width: 35px;
  /*height: 25px;
  padding: 2px 5px;
  width: 25px;*/
}

.video-grid{ align-content: center; }
#videosCont .col-12{ padding: 0; }
#videosCont .col-6, #videosCont .col-12, #videosCont .col-md-6, #videosCont .col-md-12, #videosCont .video-preview, #videosCont video {
  transition: all 1s cubic-bezier(0.4,0,0.2,1);
}

.video-preview{
  align-items: center;
  background-color: #ffdfef;
  color: #ff34c0;
  display: flex;
  font-size: 200px;
  height: 300px;
  justify-content: center;
  margin: 10px auto;
  width: 300px;
}

.video-preview video{
  /*display: none;*/
  width: 100%;
}

.nickLabel{
  background: #ffdfef;
  border: 3px solid #ff34c0;
  border-radius: 8px;
  color: #ff34c0;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin: auto;
  text-align: center;
  width: 300px;
}

.main-content {
  display: flex;
  gap: 20px;
  margin: 10px 0;
}

.chat-container {
  border: 2px solid #ff34c0;
  border-radius: 10px 10px 0 0;
  color: #ff34c0;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: auto   ;
  width: 100%;
}

.chat-messages {
  background: #ffdfef;
  border-radius: 10px 10px 0 0;
  overflow-y: auto;
  padding: 10px;
  flex-grow: 1;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background: white;
}

.message {
  margin-bottom: 1px;
  padding: 1px;
}

.message .user {
  font-size: 16px;
  font-weight: bold;
  color: #EA1C6A;
}

.message .time {
  font-size: 0.8em;
  color: #666;
}

.chat-container #messageInput{
  border: 1px solid #B90C5D;
  background: #ffdfef;
  color: #ff34c0;
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
}

.chat-container #sendButton, .chat-container #heartButton{
  background: #EA1C6A;
  border: 2px solid #B90C5D;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
}

.heart-wrapper {
  position: fixed;
  /*bottom: -40px;*/
  animation: floatUp 5s linear forwards;
  z-index: 9999;
  pointer-events: none;
}

.heart-float {
  font-size: 30px;
  color: red;
  animation: wave 3s infinite ease-in-out;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(-90vh);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

@keyframes wave {
  0%   { transform: translateX(0) }
  25%  { transform: translateX(-60px) }
  50%  { transform: translateX(0) }
  75%  { transform: translateX(-60px) }
  100% { transform: translateX(0) }
}


/* *************************************** */
/* ************* MEDIA QUERIES *************/
/* *************************************** */

/* 
  ##Device = Desktops
  ##Screen = 1560px to higher resolution desktops
*/
@media (min-width: 1560px) {

}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) and (max-width: 1559px) {
  /*body{ border: 3px solid  #fff; }*/
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  /*body{ border: 3px solid  #f00; }*/
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /*body{ border: 3px solid  #0f0; }*/
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /*body{ border: 3px solid  #00f; }*/
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /*body{ border: 3px solid  #ff0; }*/
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /*body{ border: 3px solid  #0ff; }*/
  .nickLabel{ width: 100%; }

  .video-preview{ font-size: 130px; height: 150px; width: 100%; }
  #roomId, #nick, #topic{ margin-bottom: 10px; width: 90%; }
  #startButton, #joinButton, #nickButton, #topicButton{ font-size: 18px; }
  #kukurygirl .buttonsVideoCont, #broadcaster .buttonsVideoCont{ font-size: 12px; }
  #kukurygirl .btn-video, #broadcaster .btn-video{ height: 25px; padding: 2px 5px; width: 25px; }
  .chat-container { height: 200px; }
}